@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.containerDetails{
    display: flex;
    justify-content: start;
}

.container .imagem{
    width: 600px;
    height: 900px;
    display: inline-block;
}

h4{
    font-family: 'Varela Round', sans-serif;
    justify-content: center;
    color: aliceblue;
    margin-top: 40px;
    position: relative;
}

.containerDetails div{
    display: flex;
    justify-content: center;
    margin: 40px;
}

#stars{
    color: yellow;
    font-size:20px;
}

.containerDetails .buttons{
    display: inline;
    font-size: 30px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}