@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{ /* variavel no css*/
    --vermelho:#E50914;
    --preto:#141414;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;/* não sai da borda da caixa  */
}
/*elementos base*/
body{
    background-color: var(--preto);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.box-desenho{
    height:100%;
    width:25%;
    display: block;
    border-radius: 10%;
}
.carrosel-desenhos{
    margin-top: 10px;
    cursor: pointer;
}

#titleH1{
    color: #E50914;
    font-weight: 900;
    font-language-override: initial;
    font-family:Impact, fantasy;
}