@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{ /* variavel no css*/
    --vermelho:#E50914;
    --preto:#141414;
    --branco: #FFFF;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;/* não sai da borda da caixa  */
}
/*elementos base*/
body{
    background-color: var(--preto);
    color: var(--branco);
    font-family: 'Times New Roman', Times, serif;
}

.box-desenho{
    height:100%;
    width:25%;
    display: block;
    border-radius: 10%;
}
.carrosel-desenhos{
    margin-top: 10px;
    cursor: pointer;
}

#titleH1{
    color: var(--vermelho);
    font-weight: 900;
    font-language-override: initial;
    font-family:Impact, fantasy;
}

#ContainerFilmeSeries{
    width: 70%;
    height: auto;
    margin-top:20px;
    display: flexbox;
    justify-content: center;
    border-radius: 30px;
}
